<launch>
    <arg name="bag_name" default="data_bag"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="yaw" default="0.0"/>

    <node pkg="rosbag" type="record" name="rosbag_data"
        args="record --output-name=$(arg bag_name)  /unity_ros/husky/TrueState/odom /husky/camera/image_raw /husky/semantic_camera/image_raw /move_base_simple/goal /map /ground_truth_planning/map /move_base/GlobalPlanner/plan /move_base/TrajectoryPlannerROS/local_plan /ground_truth_planning/move_base/GlobalPlanner/plan"/>

    <include file="$(find arl_unity_ros_ground)/launch/simulator_with_husky_nolidar.launch">
      <arg name="x" value="$(arg x)" />
      <arg name="y" value="$(arg y)" />
      <arg name="yaw" default="$(arg yaw)"/>
      <arg name="simulator_param_file" default="$(find sim_launch)/config/rand_gen.yaml" />

    </include>

    <include file="$(find sim_launch)/launch/sim_with_ground_truth.launch" />
</launch>
